:root {
  --charcoal: #2c2e2ee8;
  --taupe: #908a88;
  --highlight: #908a8833;
  --h: #dfda9452;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--taupe);
  transition: background 0.15s ease;
  font-size: 0.85rem;
}

a:hover {
  background: var(--h);
  border-bottom: 1px dotted var(--taupe);
}

body {
  font-family: "IBM Plex Mono", monospace;
}

details {
  /* border: 1px solid var(--highlight); */
  padding: 0.2rem;
}

details > summary {
  list-style-type: none;
  /* font-size: 0.85rem; */
  color: var(--taupe);
  border-bottom: 0.5px solid var(--highlight);
}

summary > .ph-caret-down {
  /* border: 1px solid; */
  position: absolute;
  right: 1rem;
  margin: 0.25rem auto;
}

details ul {
  margin-top: 0.2rem;
}

details li:first-child {
  border-bottom: 0.5px solid var(--highlight);
  padding-bottom: 0.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--charcoal);
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

p {
  color: var(--taupe);
  font-size: 0.8rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0rem !important;
}

#logo-container {
  width: 20%;
  height: auto;
}

/* 
  || Mobile
*/
@media (max-width: 576px) {
}
