:root {
  --charcoal: #2c2e2ee8;
  --taupe: #908a88;
  --highlight: #908a8833;
  --h: #dfda9452;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--taupe);
  transition: background 0.15s ease;
  font-size: 0.85rem;
}

a:hover {
  background: var(--h);
  border-bottom: 1px dotted var(--taupe);
}

body {
  font-family: "IBM Plex Mono", monospace;
}

details {
  font-size: 0.85rem;
}

details > summary {
  font-size: 0.85rem;
  list-style-type: none !important;
  color: var(--taupe);
}

details:focus {
  border: none;
  box-shadow: none;
}

/* removes arrow */
details > summary::-webkit-details-marker {
  display: none;
}

/* removes arrow */
details[open] > summary::before {
  content: "";
  box-shadow: none;
}

details ul {
  margin-top: 0.2rem;
}

details li {
  font-size: 0.85rem;
  padding-bottom: 0.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--charcoal);
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

p {
  color: var(--charcoal);
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0rem !important;
}

#logo-container {
  width: 20%;
  height: auto;
}

/* 
  || Mobile
*/
@media (max-width: 576px) {
  #logo-container {
    width: 40%;
    height: auto;
    margin-top: 2rem;
    position: relative;
    right: 2.3rem;
  }
}
